.form-wrapper {
  margin: 10px;
  display: flex;
}

.form-input {
  font-size: 1.4rem;
  flex-basis: 80%;
  padding: 0 5px;
}

.form-button {
  margin: 0 0 0 5px;
  font-size: 1.4rem;
  padding: 0 5px;
  cursor: pointer;
  flex-basis: 20%;
}
